html {
    /* this defines what 1 rem is */
    font-size: 62.55%; /* 1rem = 10px; 10/16px = 62.5% */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.switch {
    display: block;
    position: relative;
    margin: auto;
    width: 70px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
}
.switch input {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 0;
    height: 0;
}
.switch input + span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
    border-radius: 20px;
}

body.light-mode .switch input + span {
    background: rgb(135, 14, 205);
}

body.light-mode .switch input:checked + span {
    background: rgb(135, 14, 205);
}

body.light-mode .switch input + span:before {
    background: rgb(255, 255, 255);
}

.switch input:checked + span {
    background: rgb(255, 255, 255);
}
.switch input + span:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 4px;
    width: 32px;
    height: 32px;
    background: rgb(135, 14, 205);
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all .3s;
}
.switch input:checked + span:before {
    left: 34px;
}


body {
    background-color: rgb(132, 14, 205);
    font-family: "laca Text", sans-serif;
    z-index: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: white;
    transition: color .3s;
}

body.light-mode {
    background: white !important;
    color: black !important;
}

body.light-mode p.p-3.display-6.text-center.col-12 {
    text-shadow: none;
}

body.light-mode p.display-6.text-center.col-lg-6.col-sm-12.lead {
    text-shadow: none;
}

body.light-mode a {
    color: black !important;
}

body.light-mode .active {
    background: rgb(132, 14, 205) !important;
    color: white !important;
}

body.light-mode .card.rounded {
    background: rgb(132, 14, 205) !important;
    color: white !important;
}

body.light-mode i.fa-brands.fa-linkedin {
    color: white !important;
}

body.light-mode .display-4 {
    color: rgb(132, 14, 205) !important;
}

body.light-mode strong.h1.mt-0 {
    color: rgb(132, 14, 205) !important;
    text-shadow: none !important;
}

body.light-mode h2.text-center.h-1.mt-0 {
    color: rgb(132, 14, 205) !important;
    text-shadow: none !important;
}

body.light-mode hr.my-4 {
    color: black !important;
    border-bottom-color: black !important;
}

#myButton {
    font-size: 1.5rem;
}

.card.rounded {
    box-shadow: 8px 8px 10px #000000 !important;
    color: black !important;
}



/* Nav bar Start */
@media only screen and (max-width: 991px) {
    .navbar-nav {
        text-align: center;
    }
}


.navbar-brand img {
    position: relative;
    margin-left: 2rem;
}

.navbar-nav li {
    display:inline-block;
    padding:10px;
    margin: 4px;
    width:auto;
    border-radius: 10px;
}

.nav-link {
    font-size: 3rem !important;
    color: rgb(255, 255, 255) !important;
    /*font-family: "Marshland Beauty";*/
    font-family: 'laca Text' , sans-serif;
    font-weight: 350;
    /*text-shadow: 1px 1px 2px #000;*/
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link#Pricing:hover {
    color: rgb(16, 101, 61) !important;
}

.nav-link#Contact:hover {
    color: rgb(201, 48, 48) !important;
}

.nav-link#Portfolio:hover {
    color: rgb(137, 56, 93) !important;
}

.active {
    text-decoration: underline;
    border: 1px solid;
    border-radius: 1.5rem;
    background-color: rgb(255, 255, 255);
    color: rgb(132, 14, 205) !important;
    font-size: 3.5rem;
    box-shadow: 1px 1px 2px #000;
}

#Home {
    display: none;
}

/*!* Nav toggler */
.navbar-toggler-icon {
    width: 3.5em !important;
    height: 3.5em !important;
}

button.navbar-toggler {
    background: rgb(255, 255, 255);
}

button.navbar-toggler {
    border-radius: 1rem;
}

/* logo mobile */
@media only screen and (max-width: 991px) {

}

/* Navbar End */

/* ==== GENERAL STYLES ==== */
.display-4 {
    font-size: 8rem;
    font-weight: 350;
    color: rgb(240, 204, 0);
    text-shadow: 1px 1px 2px #000;
}
h2.text-center.h-1.mt-0 {
    color: rgb(240, 204, 0);
    text-shadow: 1px 1px 2px #000;
    font-size: 6rem;
}
.display-3 {
    font-weight: 400;
    color: rgb(240, 204, 0);
    text-shadow: 1px 1px 1px #000;
}
p.display-6.text-center.col-lg-6.col-sm-12.lead,
p.p-3.display-6.text-center.col-12 {
    text-shadow: 1px 1px 2px #000;
}

strong.h1.mt-0 {
    font-weight: 500;
    color: rgb(240, 204, 0);
    text-shadow: 1px 1px 1px #000;
}

.col-sm {
    padding: 1rem;
}

.my-4 {
    color: rgb(255, 255, 255);
    border-bottom: solid rgb(255, 255, 255);
}


.container-about {
    position: relative;
    margin-top: 6rem;
}

.container-fluid  {
    padding: 2rem;
}

.divider {
    color: rgb(255, 255, 255) !important;
}

.founderP {
    font-size: 2rem !important;
}

.row-content {
    margin: 0px auto;
    padding: 2rem 0px 2rem 0px;
    min-height: 40rem;
}

.row-content1 {
    margin: 0px auto;
    padding: 6rem 4rem 3rem 4rem;
    border-bottom: 2rem ridge transparent;
    min-height: 40rem;
}

.row_1 {
    position: relative;
    top: 2rem;
}

.row_2 {
    position: relative;
    top: -5rem;
}

@media only screen and (max-width: 767px) {
    .row_1 {
        position: relative;
        top: 0rem;
    }

    .row_2 {
        position: relative;
        top: 0rem
    }
}

img.animate__animated.animate__slideInRight.img-fluid {
    box-shadow: 8px 8px 10px #000000;
}

/* ==== SIMPLE FOOTER ==== */
body.light-mode footer {
    background: rgba(135, 14, 205);
}

body.light-mode .copyright-text{
    color: white !important;
}

body.light-mode .copyright-text a {
    color: white !important;
}

body.light-mode .foot-links a {
    color: white !important;
}

footer {
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    font-size: 1.2rem;
    line-height: 5rem;
}

footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
}

footer hr.small {
    margin: 2rem 0;
}

.copyright-text, .copyright-text a {
    margin: 0;
    color: rgb(132, 14, 205);
    text-shadow: none !important;
}

.copyright-text a:hover {
    color: rgb(240, 204, 0);
}

.foot-links {
    padding-left: 0;
    list-style: none;
}

.foot-links li {
    display: inline;
}

.foot-links {
    text-align: right;
}

.foot-links a {
    line-height: 4rem;
    margin-left: 6px;
    margin-right: 0;
    color: rgb(132, 14, 205);

}

.foot-links a:hover {
    color: rgb(240, 204, 0);
}


@media only screen and (max-width: 1024px){
    img.animate__animated.animate__slideInRight.img-fluid{
        height: 38rem;
    }
}

@media only screen and (max-width: 991px) {
    .Creed {
        text-align: center !important;
    }
}

@media only screen and (max-width: 767px) {
    img.img-fluid.w-100 {
        margin-bottom: -9rem;
    }
    h2.display-3.Creed {
        width: 100% !important;
    }
}

@media only screen and (max-width: 577px) {
    .copyright-text, .foot-links  {
        text-align: center !important;
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 400px) {
.chris {
    margin-bottom: -7.5rem !important;
}
}