html {
    /* this defines what 1 rem is */
    font-size: 62.5%; /* 1rem = 10px; 10/16px = 62.5% */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(106, 13, 173);
    font-family: "laca Text", sans-serif;
    z-index: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1, h2 {
    color: rgb(240, 204, 0);
}

/* Nav bar Start */
.navbar-nav {
    text-align: center;
}

.navbar-brand img {
    position: relative;
    top: 2rem;
    left:2rem;
}

.navbar-nav li {
    display:inline-block;
    padding:10px;
    margin: 4px;
    width:auto;
    border-radius: 10px;
}

.nav-link {
    font-size: 3rem;
    color: white !important;
    /*font-family: "Marshland Beauty";*/
    font-family: 'laca Text' , sans-serif;
    font-weight: 350;
    /*text-shadow: 1px 1px 2px #000;*/
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link#Pricing:hover {
    color: rgb(66, 130, 53) !important;
}

.nav-link#Contact:hover {
    color: #c93030 !important;
}

.nav-link#Portfolio:hover {
    color: rgb(137, 56, 93) !important;
}

.active {
    text-decoration: underline;
    border: 1px solid;
    border-radius: 1.5rem;
    background-color: #fff;
    color: rgb(106, 13, 173) !important;
    font-size: 3.5rem;
    box-shadow: 1px 1px 2px #000;
}

#Home {
    display: none;
}

/*!* Nav toggler */
.navbar-toggler-icon {
    width: 3.5em !important;
    height: 3.5em !important;
}

button.navbar-toggler {
    background: #fff;
}

button.navbar-toggler {
    border-radius: 1rem;
}

/* logo mobile */
@media only screen and (max-width: 991px) {
    .navbar-brand img {
        display: none !important;
    }

    #Home {
        display: block;
    }
}

/* Navbar End */

/* ==== GENERAL STYLES ==== */
strong {
    font-weight: 700;
    color: rgb(240, 204, 0);
}

.display-4 {
    font-size: 8rem;
    font-weight: 350;
}

.col-sm {
    padding: 1rem;
}

.my-4 {
    color: #fff !important;
    opacity: 100;
}

.container-header {
    border-radius: 2rem;
    position: relative;
}

.container-about {
    position: relative;
}

.display-3 {
    font-weight: 400;
}

h1.display-3.text-center.h1.mt-0.mb-4 {
    font-size: 8rem;
    font-weight: 350;
}

.divider {
    color: #fff !important;
}

.founderP {
    font-size: 2rem !important;
}

.row-content {
    margin: 0px auto;
    padding: 2rem 0px 2rem 0px;
    border-bottom: 1px solid #fff;
    min-height: 40rem;
}

.row-content1 {
    margin: 0px auto;
    padding: 6rem 4rem 3rem 4rem;
    border-bottom: 2rem ridge transparent;
    min-height: 40rem;
}

.row_1 {
    position: relative;
    top: 2rem;
}

.row_2 {
    position: relative;
    top: -5rem;
}

@media only screen and (max-width: 767px) {
    .row_1 {
        position: relative;
        top: 0rem;
    }

    .row_2 {
        position: relative;
        top: 0rem
    }
}

img.animate__animated.animate__slideInRight.img-fluid {
    border-radius: 3rem;
}


/* ==== SIMPLE FOOTER ==== */

footer {
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #FFFFFF;
    font-size: 1.2rem;
    line-height: 5rem;
}

footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
}

footer hr.small {
    margin: 2rem 0;
}

.copyright-text, .copyright-text a {
    margin: 0;
    color: rgb(106, 13, 173);
}

.copyright-text a:hover {
    color: rgb(240, 204, 0);
}

.foot-links {
    padding-left: 0;
    list-style: none;
}

.foot-links li {
    display: inline;
}

.foot-links {
    text-align: right;
}

.foot-links a {
    line-height: 4rem;
    margin-left: 6px;
    margin-right: 0;
    color: rgb(106, 13, 173);

}

.foot-links a:hover {
    color: rgb(240, 204, 0);
}


@media only screen and (max-width: 1024px){
    img.animate__animated.animate__slideInRight.img-fluid{
        height: 38rem;
    }
}

@media only screen and (max-width: 991px) {
    .Creed {
        text-align: center !important;
    }
}

@media only screen and (max-width: 577px) {
    .copyright-text, .foot-links  {
        text-align: center !important;
        overflow-x: hidden;
    }
}