html {
    /* this defines what 1 rem is */
    font-size: 62.5%; /* 1rem = 10px; 10/16px = 62.5% */


}

body {
    background-color: rgb(201, 48, 48);
    z-index: 0;
    font-family: "laca Text", sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* Nav bar Start */
.navbar-nav {
    text-align: center;
}


.navbar-brand img {
    position: relative;
    top: 2rem;
    left: 2rem;
}

.navbar-nav li {
    display:inline-block;
    padding:10px;
    margin: 4px;
    width:auto;
    border-radius: 10px;
}

.nav-link {
    font-size: 3rem;
    color: white !important;
    /*font-family: "Marshland Beauty";*/
    font-family: 'laca Text' , sans-serif;
    font-weight: 350;
    /*text-shadow: 1px 1px 2px #000;*/
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link#About:hover {
    color: #d96b26 !important;
}

.nav-link#Pricing:hover {
    color: rgb(66, 130, 53) !important;
}

.nav-link#Portfolio:hover {
    color: rgb(0, 128, 128) !important;
}

.active {
    text-decoration: underline;
    border: 1px solid;
    border-radius: 1.5rem;
    background-color: #fff;
    color: rgb(201, 48, 48) !important;
    font-size: 3.5rem;
    box-shadow: 1px 1px 2px #000;
}

#Home {
    display: none;
}

/*!* Nav toggler */
.navbar-toggler-icon {
    width: 3.5em !important;
    height: 3.5em !important;
}

button.navbar-toggler {
    background: #fff;
}

button.navbar-toggler {
    border-radius: 1rem;
}

/* logo mobile */
@media only screen and (max-width: 991px) {
    .navbar-brand img {
        display: none !important;
    }

    #Home {
        display: block;
    }
}

/* Alerts */
.success, .no_success {
    font-size: 1.5rem;
}

#SuccessAlert, #DangerAlert {
    position: relative;
    top: -1rem;
    border-radius: 1rem;
}


.display-4 {
    font-size: 8rem;
}

.my-4 {
    border-bottom: solid #fff;
}

.row-content {
    margin: 0px auto;
    padding: 4rem 0rem 5rem 0rem;
    min-height: 400px;
}


/* Form */
.container-form {
   position: relative;
    top: -4rem;
}

form {
    background: #fff;
    box-shadow: 0 3rem 6rem 0 rgba(90, 116, 148, 0.4);
    border-radius: 5px;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 5px solid #fff;
    /*animation: bounce 1.5s infinite;*/
}

.secondaryTitle{
    color: rgb(201, 48, 48);
    text-align: center;
    font-size: 2rem;
}

form label {
    color: rgb(201, 48, 48);
    font-size: 2rem;
}

form input {
    font-size: 1.5rem;
    box-shadow: 1px 1px 2px #000;
}

form .form-text {
    font-size: 1.2rem;
}

.form-control {
    font-size: 1.5rem;
}

.formEntry {
    display: block;
    margin: 5px auto;
    padding: 1rem;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
}

.name {
    background-color: #fff;
}

.name:hover {
    border-bottom: 5px solid rgb(201, 48, 48);
    height: 3.5em;
    transition: ease 0.5s;
}

.email {
    background-color: #fff;
}

.email:hover {
    border-bottom: 5px solid rgb(201, 48, 48);
    height: 3.5em;
    transition: ease 0.5s;
}

.message {
    background-color: #fff;
    overflow: hidden;
    height: 10rem;
}

.message:hover {
    border-bottom: 5px solid rgb(201, 48, 48);
    height: 12.5rem;
    transition: ease 0.5s;
}

textarea {
    font-size: 1.5rem !important;
    box-shadow: 1px 1px 2px #000;
}

.btn-danger {
    font-size: 2rem !important;
    border-radius: 6.25em;
}

.btn-danger:hover {
    transform: translateY(-3px);
    border-top: 5px solid rgb(201, 48, 48);
    background: #ffffff;
    color: rgb(201, 48, 48);
}

/*@keyframes bounce {*/
/*    0% {*/
/*        tranform: translate(0, 4px);*/
/*    }*/
/*    50% {*/
/*        transform: translate(0, 8px);*/
/*    }*/
/*}*/

/* End Form */

/* ==== GENERAL STYLES ==== */

* {
    box-sizing: border-box;
}

strong {
    font-weight: 700;
}

/* ==== SIMPLE FOOTER ==== */
/*footer {*/
/*    !*padding: 4rem 0 2rem;*!*/
/*    font-size: 1.2rem;*/
/*    line-height: 5rem;*/
/*    background-color: #fff;*/
/*    position: relative;*/
/*    width: 100%;*/
/*}*/

/*footer hr {*/
/*    border-top-color: #bbb;*/
/*    opacity: 0.5;*/
/*}*/

/*footer hr.small {*/
/*    margin: 2rem 0;*/
/*}*/

footer {
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #FFFFFF;
    font-size: 1.2rem;
    line-height: 5rem;
}

.copyright-text, .copyright-text a {
    margin: 0;
    color: rgb(201, 48, 48);
}

.copyright-text a:hover {
    color: rgb(0, 128, 128);
}

.foot-links {
    padding-left: 0;
    list-style: none;
}

.foot-links li {
    display: inline;
}

.foot-links {
    text-align: right;
}

.foot-links a {
    line-height: 4rem;
    margin-left: 6px;
    margin-right: 0;
    color: rgb(201, 48, 48);

}

.foot-links a:hover {
    color: rgb(0, 128, 128);
}
/* iPad */
/*@media only screen and (device-width: 1024px) and (device-height: 1366px) {*/
/*    footer {*/
/*        position: absolute;*/
/*        bottom: -5px;*/
/*    }*/
/*}*/

@media only screen and (max-width: 991px) {
    body {
        overflow-y: scroll;
    }
}

@media only screen and (max-width: 577px) {
    .copyright-text, .foot-links  {
        text-align: center !important;
    }
}