body {
    background-color: #c93030;
}

/* Nav bar Start */
.navbar-nav {
    text-align: center;
}

.nav-link:hover {
    text-decoration: underline;
    font-size: 3rem;
}

.navbar-brand img {
    position: relative;
    top: .5rem;
    left: 1rem;
}

.nav-link {
    font-size: 2.5rem;
    color: white !important;
    /*font-family: "Marshland Beauty";*/
    font-family: 'laca Text' , sans-serif;
    font-weight: 350;
    /*text-shadow: 1px 1px 2px #000;*/
    padding-right: 2.5rem !important;
}

.container-fluid {
    float: left !important;
}
/* Navbar End */

/* Send Message Button */
#SendMessageButton {
    background-color: #F5F5F5;
    color: #c93030;
    font-weight: bold;
}