html {
    /* this defines what 1 rem is */
    font-size: 62.5%; /* 1rem = 10px; 10/16px = 62.5% */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Light Mode Button */
.switch {
    display: block;
    position: relative;
    margin: auto;
    width: 70px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
}
.switch input {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 0;
    height: 0;
}
.switch input + span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: solid 1px #000;
    background: rgb(255, 255, 255);
    border-radius: 20px;
}
body.dark-mode .switch input + span {
    background: transparent;
}

body.dark-mode .switch input:checked + span {
    background: transparent;
}

body.dark-mode .switch input + span:before {
    background: rgb(255, 255, 255);
}

.switch input:checked + span {
    background: rgb(255, 255, 255);
}
.switch input + span:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 4px;
    width: 32px;
    height: 32px;
    background: rgb(201, 48, 48);
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all .3s;
}
.switch input:checked + span:before {
    left: 34px;
}
/* End Light Mode Button */

body {
    z-index: 0;
    font-family: "laca Text", sans-serif !important;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
/* Light Mode */
body.dark-mode {
    background: rgb(201, 48 ,48) !important;
    color: black !important;
}
/* Light Mode Nav */
body.dark-mode .nav-link {
    color: rgb(201, 48, 48) !important;
}

body.dark-mode .nav-link#About {
    color: rgb(255, 255, 255) !important;
}

body.dark-mode .nav-link#Pricing {
    color: rgb(255, 255, 255) !important;
}
body.dark-mode .nav-link#Portfolio {
    color: rgb(255, 255, 255) !important;
}

body.dark-mode .active {
    background-color: rgb(201, 48, 48) !important;
    color: rgb(255, 255, 255) !important;
}
/* Light Mode Body Content */
body.dark-mode .display-4 {
    color: rgb(255, 255, 255) !important;
}
body.dark-mode .my-4 {
    color: rgb(255, 255, 255) !important;
    border-bottom-color: rgb(255, 255, 255) !important;
}
/* Light Mode Form */
body.dark-mode form#ContactForm {
    background: rgb(201, 48, 48);
}

body.dark-mode  label.form-label, div#emailHelp, .secondaryTitle {
    color: rgb(255, 255, 255) !important;
}
body.dark-mode button.btn.btn-danger {
    background: white !important;
    color: rgb(201, 48, 48) !important;
}
body.dark-mode .btn-danger:hover {
    transform: translateY(-3px);
    border-top: 5px solid rgb(201, 48, 48);
    background: rgb(201, 48, 48) !important;
    color: rgb(255, 255, 255) !important;
}
/* Light Mode Footer*/
body.dark-mode footer {
    background-color: rgb(201, 48, 48);
}
footer hr {
    border-top-color: #bbb;
}
body.dark-mode .copyright-text {
    margin: 0;
    color: rgb(255, 255, 255);
}
body.dark-mode .copyright-text a {
    color: white !important;
}
body.dark-mode .copyright-text a:hover {
    color: rgb(16, 101, 61) !important;
}
body.dark-mode .foot-links a {
    color: rgb(255, 255, 255);
}
body.dark-mode .foot-links a:hover {
    color: rgb(132, 14, 205);
}

/* Nav bar Start */
.navbar-nav {
    text-align: center;
}

body.dark-mode .blueImage {
    display: none;
}

.dark-mode .whiteImage {
    display: block;
}

.whiteImage {
    display: none;
}

.navbar-brand img {
    position: relative;
    width: 150px;
}

.navbar-nav li {
    display:inline-block;
    padding:10px;
    margin: 4px;
    width:auto;
    border-radius: 10px;
}

.nav-link {
    font-size: 3rem !important;
    color: rgb(255, 255, 255) !important;
    /*font-family: "Marshland Beauty";*/
    font-family: 'laca Text' , sans-serif;
    font-weight: 350;
    /*text-shadow: 1px 1px 2px #000;*/
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link#About {
    color: rgb(132, 14, 205) !important;
}

.nav-link#Pricing {
    color: rgb(16, 101, 61) !important;
}

.nav-link#Portfolio {
    color: rgb(137, 56, 93) !important;
}

.active {
    text-decoration: underline;
    border: 1px solid;
    border-radius: 1.5rem;
    background-color: rgb(255, 255, 255);
    color: rgb(201, 48, 48) !important;
    font-size: 3.5rem;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}

#Home {
    display: none;
}

/*!* Nav toggler */
.navbar-toggler-icon {
    width: 3.5em !important;
    height: 3.5em !important;
}

button.navbar-toggler {
    background: rgb(255, 255, 255);
}

button.navbar-toggler {
    border-radius: 1rem;
}
.container-fluid {
    padding: 2rem;
}
/* Alerts */
.success, .no_success {
    font-size: 1.5rem;
}

#SuccessAlert, #DangerAlert {
    position: relative;
    top: -1rem;
    border-radius: 1rem;
}

/* General Styles */
.display-4 {
    color: rgb(201, 48, 48) !important;
    font-family: "proxima-nova", sans-serif;
    position: relative;
    font-size: 9rem;
    letter-spacing: .2rem;
    font-weight: 700;
}

.my-4 {
    border-bottom: solid rgb(201, 48 ,48);
}

.row-content {
    margin: 0px auto;
    padding: 4rem 0rem 5rem 0rem;
    min-height: 400px;
}

.container-header {
    border-radius: 2rem;
    position: relative;
}

/* End General Styles */


/* Form */
.container-form {
    position: relative;
    top: -4rem;
}

form {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    max-width: 48rem;
    margin: auto;
    padding: 10px;
    border-top: 5px solid rgb(255, 255, 255);
    /*animation: bounce 1.5s infinite;*/
}

.secondaryTitle{
    color: rgb(201, 48, 48);
    text-align: center;
    font-size: 2rem;
}

form label {
    color: rgb(201, 48, 48);
    font-size: 2rem;
}

form input {
    font-size: 1.5rem;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}

form .form-text {
    font-size: 1.2rem;
}

.form-control {
    font-size: 1.5rem;
}

.formEntry {
    display: block;
    margin: 5px auto;
    padding: 1rem;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
}

.name {
    background-color: rgb(255, 255, 255);
}

.name:hover {
    border-bottom: 5px solid rgb(201, 48, 48);
    height: 3.5em;
    transition: ease 0.5s;
}

.email {
    background-color: rgb(255, 255, 255);
}

.email:hover {
    border-bottom: 5px solid rgb(201, 48, 48);
    height: 3.5em;
    transition: ease 0.5s;
}

.message {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    height: 10rem;
}

.message:hover {
    border-bottom: 5px solid rgb(201, 48, 48);
    height: 12.5rem;
    transition: ease 0.5s;
}

textarea {
    font-size: 1.5rem !important;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.btn-danger {
    font-size: 2rem !important;
    border-radius: 6.25em;
}

.btn-danger:hover {
    transform: translateY(-3px);
    border-top: 5px solid rgb(201, 48, 48);
    background: rgb(255, 255, 255);
    color: rgb(201, 48, 48);
}

/*@keyframes bounce {*/
/*    0% {*/
/*        tranform: translate(0, 4px);*/
/*    }*/
/*    50% {*/
/*        transform: translate(0, 8px);*/
/*    }*/
/*}*/

/* End Form */

/* ==== GENERAL STYLES ==== */

* {
    box-sizing: border-box;
}

strong {
    font-weight: 700;
}

/* ==== SIMPLE FOOTER ==== */
footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    font-size: 1.2rem;
    line-height: 5rem;
}

footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
}

footer hr.small {
    margin: 2rem 0;
}

.copyright-text, .copyright-text a {
    margin: 0;
    color: rgb(201, 48, 48);
}

.copyright-text a:hover {
    color: rgb(16, 101, 61);
}

.foot-links {
    padding-left: 0;
    list-style: none;
}

.foot-links li {
    display: inline;
}

.foot-links {
    text-align: right;
}

.foot-links a {
    line-height: 4rem;
    margin-left: 6px;
    margin-right: 0;
    color: rgb(201, 48, 48);

}

.foot-links a:hover {
    color: rgb(16, 101, 61);
}
/* iPad */
@media only screen and (device-width: 1024px) and (device-height: 1366px) {
    footer {
        position: absolute;
        bottom: -5px;
    }
}

@media only screen and (max-width: 991px) {

    body {
        overflow-y: scroll;
    }

}

@media only screen and (max-width: 577px) {
    .copyright-text, .foot-links  {
        text-align: center !important;
    }
}

@media only screen and (max-width: 440px) {
    footer {
        position: relative;
    }
}