
html {
    /* this defines what 1 rem is */
    font-size: 62.5%; /* 1rem = 10px; 10/16px = 62.5% */
}

body {
    background-image: url("../images/bluebg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'laca Text' , sans-serif;
}

/* Nav bar Start */
@media only screen and (max-width: 991px) {
    .navbar-nav {
        text-align: center;
    }
}
.navbar-brand img {
    position: relative;
    margin-left: 2rem;
}

.navbar-nav li {
    display:inline-block;
    padding: 1rem;
    margin: 4px;
    width:auto;
    border-radius: 1rem;
}

.nav-link {
    font-size: 3rem !important;
    color: rgb(255, 255, 255) !important;
    font-weight: 350;

}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link#Home:hover {
    color: rgb(38, 113, 217);
}

.nav-link#About:hover {
    color: rgb(106, 13, 173) !important;
}

.nav-link#Contact:hover {
    color: rgb(201, 48, 48) !important;
}

.nav-link#Pricing:hover {
    color: rgb(66, 130, 53) !important;
}

.nav-link#Portfolio:hover {
    color: rgb(137, 56, 93) !important;
}

/*!*!* Nav toggler *!*/
.navbar-toggler-icon {
    width: 3.5em !important;
    height: 3.5em !important;
}

button.navbar-toggler {
    background: rgb(255, 255, 255);
}

button.navbar-toggler {
    border-radius: 1rem;
}

.active {
    text-decoration: underline;
    border: 1px solid;
    border-radius: 1.5rem;
    background-color: rgb(255, 255, 255);
    color: rgb(38, 113, 217) !important;
    font-size: 3.5rem;
    box-shadow: 1px 1px 2px #000;
}

#Home {
    display: none;
}

/* logo mobile */
@media only screen and (max-width: 991px) {

}


/* Navbar End */
.container-fluid {
    padding: 2rem;
}
.centered {
    /*text-align: center;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    position: relative;
}

.centered img {
    width: 70%;
    display: block;
    margin: auto;
}
.container h1 {
    font-size: 30rem;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    position: relative;
    top: 5rem;
}

/* Hr Style */
hr {
    height: 3rem !important;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 1px 0 0 0;
    border-radius: 2rem;
}
hr:before {
    display: block;
    content: "";
    height: 3rem;
    margin-top: -3rem;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 0 0 1px 0;
    border-radius: 2rem;
}

.container p {
    font-size: 5rem;
    color: rgb(255, 255, 255);
    font-family: 'Marshland Beauty';
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
@media only screen and (device-width: 1024px) and (device-height: 600px)  {
    .centered {
        height: 50rem;
    }
}

@media only screen and (device-width: 820px) and (device-height: 1180px)  {
    .centered {
        height: 106rem;
    }
}

@media only screen and (device-width: 768px) and (device-height: 1024px)  {
    .centered {
        height: 88rem;
    }
}

@media only screen and (device-width: 912px) and (device-height: 1368px)  {
    .centered {
        height: 126rem;
    }
}

@media only screen and (device-width: 375px) and (device-height: 667px)  {
    .centered {
        height: 56rem;
    }
}
@media only screen and (device-width: 280px) and (device-height: 653px)  {
    .centered {
        height: 56rem;
    }
}



