
html {
    /* this defines what 1 rem is */
    font-size: 62.5%; /* 1rem = 10px; 10/16px = 62.5% */
}

:root {
    --color-white: rgb(255, 255, 255);
    --color-about: rgb(106, 13, 173);
    --color-home: rgb(38, 113, 217);
    --color-contact: rgb(201, 48, 48);
    --color-pricing: rgb(16, 101, 61);
    --color-portfolio: rgb(137, 56, 93);
}

* {
    padding: 0;
    margin: 0;
}

body {
    /*background-image: url("../images/bluebg.jpeg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    overflow: hidden;
    /*overflow-y: scroll;*/
    font-family: 'laca Text' , sans-serif;
}
#mainWhiteImage {
    display: none;
}
.whiteImage {
    display: none;
}

/* Nav bar Start */
@media only screen and (max-width: 991px) {
    .navbar-nav {
        text-align: center;
    }

    .centered img {
        position: relative;
        width: 70% !important;
        left: 50%;
        top: 50%;
        transform: translate(-60%, -50%);
    }
}
.navbar-brand img {
    position: relative;
    width: 150px;
}

.navbar-nav li {
    display:inline-block;
    padding: 1rem;
    margin: 4px;
    width:auto;
    border-radius: 1rem;
}

.nav-link {
    font-size: 3rem !important;
    color: var(--color-white) !important;
    font-weight: 350;

}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link#Home{
    color: var(--color-home);
}

.nav-link#About {
    color: var(--color-about) !important;
}

.nav-link#Contact {
    color: var(--color-contact) !important;
}

.nav-link#Pricing {
    color: var(--color-pricing) !important;
}

.nav-link#Portfolio {
    color: var(--color-portfolio) !important;
}

/*!*!* Nav toggler *!*/
.navbar-toggler-icon {
    width: 3.5em !important;
    height: 3.5em !important;
}

button.navbar-toggler {
    background: var(--color-white);
}

button.navbar-toggler {
    border-radius: 1rem;
}

/*.active {*/
/*    text-decoration: underline;*/
/*    border: 1px solid;*/
/*    border-radius: 1.5rem;*/
/*    background-color: var(--color-white);*/
/*    color: rgb(38, 113, 217) !important;*/
/*    font-size: 3.5rem;*/
/*    box-shadow: 1px 1px 2px #000;*/
/*}*/

#Home {
    display: none;
}

/* logo mobile */
@media only screen and (max-width: 991px) {

}


/* Navbar End */
.container-fluid {
    padding: 2rem;
}
.centered {
    /*text-align: center;*/

}

.centered img {
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container h1 {
    font-size: 30rem;
    color: var(--color-white);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    position: relative;
    top: 5rem;
}

/* Hr Style */
/*hr {*/
/*    height: 3rem !important;*/
/*    border-style: solid;*/
/*    border-color: #8c8b8b;*/
/*    border-width: 1px 0 0 0;*/
/*    border-radius: 2rem;*/
/*}*/
/*hr:before {*/
/*    display: block;*/
/*    content: "";*/
/*    height: 3rem;*/
/*    margin-top: -3rem;*/
/*    border-style: solid;*/
/*    border-color: #8c8b8b;*/
/*    border-width: 0 0 1px 0;*/
/*    border-radius: 2rem;*/
/*}*/

/*.container p {*/
/*    font-size: 5rem;*/
/*    color: var(--color-white);*/
/*    font-family: 'Marshland Beauty';*/
/*    text-shadow: 1px 1px 2px rgb(0, 0, 0);*/
/*}*/

/* Dark Mode */
.switch {
    display: block;
    position: relative;
    margin: auto;
    width: 70px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
}
.switch input {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 0;
    height: 0;
}
.switch input + span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-white);
    border-radius: 20px;
    border: solid 1px #000;
}
body.dark-mode .switch input + span {
    background: var(--color-white);
}

body.dark-mode .switch input:checked + span {
    background: transparent;
}

body.dark-mode .switch input + span:before {
    background: var(--color-white);
}

.switch input:checked + span {
    background:var(--color-white);
}
.switch input + span:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 4px;
    width: 32px;
    height: 32px;
    background: var(--color-home);
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all .3s;
}
.switch input:checked + span:before {
    left: 34px;
}
body.dark-mode {
    background: var(--color-home) !important;
    color: black !important;
}
body.dark-mode img#image {
    display: none;
}
body.dark-mode img#mainWhiteImage {
    display: block;
}
body.dark-mode .blueImage {
    display: none;
}
body.dark-mode .whiteImage {
    display: block;
}
body.dark-mode .nav-link#About {
    color: var(--color-white) !important;
}
body.dark-mode .nav-link#Pricing {
    color: var(--color-white) !important;
}
body.dark-mode .nav-link#Contact {
    color: var(--color-white) !important;
}
body.dark-mode .nav-link#Portfolio {
    color: var(--color-white) !important;
}
@media only screen and (device-width: 1024px) and (device-height: 600px)  {
    .centered {
        height: 50rem;
    }
}

@media only screen and (device-width: 820px) and (device-height: 1180px)  {
    .centered {
        height: 106rem;
    }
}

@media only screen and (device-width: 768px) and (device-height: 1024px)  {
    .centered {
        height: 88rem;
    }
}

@media only screen and (device-width: 912px) and (device-height: 1368px)  {
    .centered {
        height: 126rem;
    }
}

@media only screen and (device-width: 375px) and (device-height: 667px)  {
    .centered {
        height: 56rem;
    }
}
@media only screen and (device-width: 280px) and (device-height: 653px)  {
    .centered {
        height: 56rem;
    }
}



