
html {
    /* this defines what 1 rem is */
    font-size: 62.5%; /* 1rem = 10px; 10/16px = 62.5% */


}

.body {
    background-image: url("../images/bluebg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-nav {
    text-align: center;
}

.navbar-brand img {
    width: 6rem;
    height: 9rem;
    position: relative;
    top: 2rem;
    left: 2rem;
}

.nav-link {
    font-size: 2.7rem;
    color: white !important;
    font-family: "Marshland Beauty";
    text-shadow: 1px 1px 2px #000;
    padding-right: 2.5rem !important;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container h1 {
    font-size: 30rem;
    color: white;
    text-shadow: 1px 1px 2px #000;
    font-family: Marshland Beauty;
    position: relative;
    top: 5rem;
}

/* Hr Style */
hr {
    height: 3rem !important;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 1px 0 0 0;
    border-radius: 2rem;
}
hr:before {
    display: block;
    content: "";
    height: 3rem;
    margin-top: -3rem;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 0 0 1px 0;
    border-radius: 2rem;
}

.container p {
    font-size: 5rem;
    color: white;
    font-family: 'Marshland Beauty';
    text-shadow: 1px 1px 2px #000;
}
