html {
    /* this defines what 1 rem is */
    font-size: 62.5%; /* 1rem = 10px; 10/16px = 62.5% */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.switch {
    display: block;
    position: relative;
    margin: auto;
    width: 70px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
}
.switch input {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 0;
    height: 0;
}
.switch input + span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
    border-radius: 20px;
}

body.light-mode .switch input + span {
    background: rgb(16, 101, 61);
}

body.light-mode .switch input:checked + span {
    background: rgb(16, 101, 61);
}

body.light-mode .switch input + span:before {
    background: rgb(255, 255, 255);
}

.switch input:checked + span {
    background: rgb(255, 255, 255);
}
.switch input + span:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 4px;
    width: 32px;
    height: 32px;
    background: rgb(16, 101, 61);
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all .3s;
}
.switch input:checked + span:before {
    left: 34px;
}

body {
    background-color: rgb(16, 101, 61);
    z-index: 0;
    font-family: "laca Text", sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    color: white;
    transition: color .3s;
}
/* Light Mode */
body.light-mode {
    background: white !important;
    color: black !important;
}
/* Light Mode Nav */
body.light-mode .nav-link {
    color: rgb(16, 101, 61) !important;
}
body.light-mode .active {
    background-color: rgb(16, 101, 61) !important;
    color: rgb(255, 255, 255) !important;
}
/* Light Mode Body Content */
body.light-mode h1 {
    color: rgba(16, 101, 61) !important;
}
body.light-mode .card {
    background: rgb(16, 101, 61) !important;
    color: white !important;
}
body.light-mode .card ul {
    list-style: url("../images/checkmarkLightMode.png");
}
body.light-mode .btn {
    color: white !important;
}
body.light-mode button#RequestQuoteButton {
    background: rgb(255, 255, 255);
    color: rgb(16, 101, 61);
}
body.light-mode .my-4 {
    color: rgb(16,101, 61) !important;
    border-bottom-color: rgb(16, 101, 61) !important;
}
/* Light Mode Form */
body.light-mode form#PricingContactForm{
    background: rgb(16, 101, 61) !important;
}
body.light-mode  label.form-label, div#emailHelp {
    color: white !important;
}
body.light-mode button.btn.btn-success {
    background: white !important;
    color: rgb(16, 101, 61) !important;
}
body.light-mode .btn-success:hover {
    transform: translateY(-3px);
    border-top: 5px solid rgb(0, 0, 0);
    background: rgb(16, 101, 61);
    color: rgb(255, 255, 255);
}
/* Light Mode Footer*/
body.light-mode footer {
    background-color: rgb(16, 101, 61);
}
footer hr {
    border-top-color: #bbb;
}
body.light-mode .copyright-text {
    margin: 0;
    color: rgb(255, 255, 255);
}
body.light-mode .copyright-text a {
    color: white !important;
}
body.light-mode .copyright-text a:hover {
    color: rgb(132, 14, 205) !important;
}
body.light-mode .foot-links a {
    color: rgb(255, 255, 255);
}
body.light-mode .foot-links a:hover {
    color: rgb(132, 14, 205);
}

/* Nav bar Start */
.navbar-nav {
    text-align: center;
}

.navbar-brand img {
    position: relative;
    margin-left: 2rem;
}

.navbar-nav li {
    display:inline-block;
    padding:10px;
    margin: 4px;
    width:auto;
    border-radius: 10px;
}

.nav-link {
    font-size: 3rem !important;
    color: white !important;
    /*font-family: "Marshland Beauty";*/
    font-family: 'laca Text' , sans-serif;
    font-weight: 350;
    /*text-shadow: 1px 1px 2px #000;*/

}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link#About:hover {
    color: rgb(132, 14, 205) !important;
}

.nav-link#Contact:hover {
    color: rgb(201, 48, 48) !important;
}

.nav-link#Portfolio:hover {
    color: rgb(137, 56, 93) !important;
}

.active {
    text-decoration: underline;
    border: 1px solid;
    border-radius: 1.5rem;
    background-color: rgb(255, 255, 255);
    color: rgb(16, 101, 61) !important;
    font-size: 3.5rem;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}

#Home {
    display: none;
}

/*!* Nav toggler */
.navbar-toggler-icon {
    width: 3.5em !important;
    height: 3.5em !important;
}

button.navbar-toggler {
    background: #fff;
}

button.navbar-toggler {
    border-radius: 1rem;
}

/* logo mobile */
@media only screen and (max-width: 991px) {

}


/* Navbar End */

/* Alerts */
.success, .no_success {
    font-size: 1.5rem;
}

#SuccessAlert, #DangerAlert {
    position: relative;
    top: 4rem;
    border-radius: 1rem;
}


/* Scroll Back to Top*/
/*.scrollToTop {*/
/*    background :#a26bfa;*/
/*    width: 6rem;*/
/*    height: 6rem;*/
/*    text-align: center;*/
/*    position: fixed;*/
/*    bottom: 6rem;*/
/*    right: 5rem;*/
/*    display: none;*/
/*    z-index: 99;*/
/*    border-radius: 100%;*/
/*    -webkit-border-radius: 100%;*/
/*    -moz-border-radius: 100%;*/
/*}*/

/*.scrollToTop:hover {*/
/*    text-decoration: none;*/
/*    opacity: 0.8;*/
/*}*/

/*.scrollToTop .scrollarrow {*/
/*    width: 0;*/
/*    height: 0;*/
/*    border-style: solid;*/
/*    border-width: 0 10px 15px 10px;*/
/*    border-color: transparent transparent #26d985 ;*/
/*    display: block;*/
/*    margin:20px auto 0;*/
/*}*/

.display-4 {
    font-size: 10rem;
    letter-spacing: .2rem;
    font-weight: 700 !important;
    margin-top: 3rem !important;
}

.container-fluid {
padding: 2rem !important;
}
/* Card */

.table h2 {
    font-family: proxima-nova, sans-serif;
    font-weight: 400 !important;
}
button#RequestQuoteButton {
    background: rgb(16, 101, 61);
}

.table .btn{
    width: 100%;
    display: flex;
    margin-top: 35px;
    justify-content: center;
    /*position: relative;*/
    top: 1rem;
}
.table .btn button{
    width: 50%;
    height: 60px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.table .btn button:hover{
    border-radius: 5px;
}
/* End Card*/

.row {
justify-content: center !important;
}

.row-content1 {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    min-height: 400px;
}

.row-content {
    margin: 0px auto;
    padding: 30px 0px 40px 0px;
    min-height: 400px;
}

.my-4 {
    color: rgb(255, 255, 255);
    border-bottom: solid rgb(255, 255, 255);
}

/*!* Form *!*/
.container-h1, .container-form {
    position: relative;
}

form {
    background: rgb(255, 255, 255);
    box-shadow: 0 3rem 6rem 0 rgba(90, 116, 148, 0.4);
    border-radius: 5px;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 5px solid rgb(255, 255, 255);
    /*animation: bounce 1s infinite;*/
}

.secondaryTitle {
    color: rgb(16, 101, 61);
    text-align: center;
    font-size: 2rem;
}

form label {
    color: rgb(16, 101, 61);
    font-size: 2.5rem;
}

form input {
    font-size: 1.5rem !important;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}

form .form-text {
    font-size: 1.2rem;
}

select.form-select {
    font-size: 1.5rem !important;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
    color: #636c72;
    height: 4.5rem;
}




/*input, select, textarea {*/
/*    background-color: #8c8b8b!important;*/
/*}*/

button.btn.btn-success {
    font-size: 2rem !important;
    border-radius: 6.25em;
}

.btn-success:hover {
    transform: translateY(-3px);
    border-top: 5px solid rgb(16, 101, 61);
    background: rgb(255, 255, 255);
    color: rgb(16, 101, 61);
}


textarea {
    font-size: 1.5rem !important;
    box-shadow: 1px 1px 2px #000;
    background-color: #F5F5F5;
}

.formEntry {
    display: block;
    margin: 5px auto;
    padding: 1rem;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
}

.name {
    background-color: rgb(255, 255, 255);
}
.name:hover {
    border-bottom: 5px solid  rgb(16, 101, 61);
    height: 3.5em;
    transition: ease 0.5s;
}

.email {
    background-color: rgb(255, 255, 255);
}

.email:hover {
    border-bottom: 5px solid  rgb(16, 101, 61);
    height: 3.5em;
    transition: ease 0.5s;
}

.select {
    background-color: #fff;
}

.message {
    /*background-color: #fff;*/
    overflow: hidden;
    height: 10rem;
}

.message:hover {
    border-bottom: 5px solid rgb(16, 101, 61);
    height: 12.5rem;
    transition: ease 0.5s;
}

/*!*!* End Form *!*!*/

/* ==== SIMPLE FOOTER ==== */
footer {
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    font-size: 1.2rem;
    line-height: 5rem;
}

footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
}

footer hr.small {
    margin: 2rem 0;
}

.copyright-text, .copyright-text a {
    margin: 0;
    color: rgb(16, 101, 61);
}

.copyright-text a:hover {
    color: rgb(132, 14, 205);
}

.foot-links {
    padding-left: 0;
    list-style: none;
}

.foot-links li {
    display: inline;
}

.foot-links {
    text-align: right;
}

.foot-links a {
    line-height: 4rem;
    margin-left: 6px;
    margin-right: 0;
    color: rgb(16, 101, 61);

}

.foot-links a:hover {
    color: rgb(132, 14, 205);
}

@media only screen and (max-width: 991px) {
    .copyright ul {
        text-align: center;
    }
}

@media only screen and (max-width: 577px) {
    .copyright-text, .foot-links  {
        text-align: center !important;
    }
}