html {
    /* this defines what 1 rem is */
    font-size: 62.5%; /* 1rem = 10px; 10/16px = 62.5% */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(16, 101, 61);
    z-index: 0;
    font-family: "laca Text", sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}


/* Nav bar Start */
.navbar-nav {
    text-align: center;
}

.navbar-brand img {
    position: relative;
    top: 2rem;
    left:2rem;
}

.navbar-nav li {
    display:inline-block;
    padding:10px;
    margin: 4px;
    width:auto;
    border-radius: 10px;
}

.nav-link {
    font-size: 3rem;
    color: white !important;
    /*font-family: "Marshland Beauty";*/
    font-family: 'laca Text' , sans-serif;
    font-weight: 350;
    /*text-shadow: 1px 1px 2px #000;*/

}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link#About:hover {
    color: #840ECD !important;
}

.nav-link#Contact:hover {
    color: #c93030 !important;
}

.active {
    text-decoration: underline;
    border: 1px solid;
    border-radius: 1.5rem;
    background-color: #fff;
    color: rgb(16, 101, 61) !important;
    font-size: 3.5rem;
    box-shadow: 1px 1px 2px #000;
}

#Home {
    display: none;
}

/*!* Nav toggler */
.navbar-toggler-icon {
    width: 3.5em !important;
    height: 3.5em !important;
}

button.navbar-toggler {
    background: #fff;
}

button.navbar-toggler {
    border-radius: 1rem;
}

/* logo mobile */
@media only screen and (max-width: 991px) {
    .navbar-brand img {
        display: none !important;
    }
    #Home {
        display: block;
    }
}

/* Navbar End */

/* Alerts */
.success, .no_success {
    font-size: 1.5rem;
}

#SuccessAlert, #DangerAlert {
    position: relative;
    top: 4rem;
    border-radius: 1rem;
}


/* Scroll Back to Top*/
/*.scrollToTop {*/
/*    background :#a26bfa;*/
/*    width: 6rem;*/
/*    height: 6rem;*/
/*    text-align: center;*/
/*    position: fixed;*/
/*    bottom: 6rem;*/
/*    right: 5rem;*/
/*    display: none;*/
/*    z-index: 99;*/
/*    border-radius: 100%;*/
/*    -webkit-border-radius: 100%;*/
/*    -moz-border-radius: 100%;*/
/*}*/

/*.scrollToTop:hover {*/
/*    text-decoration: none;*/
/*    opacity: 0.8;*/
/*}*/

/*.scrollToTop .scrollarrow {*/
/*    width: 0;*/
/*    height: 0;*/
/*    border-style: solid;*/
/*    border-width: 0 10px 15px 10px;*/
/*    border-color: transparent transparent #26d985 ;*/
/*    display: block;*/
/*    margin:20px auto 0;*/
/*}*/

.display-4 {
    font-size: 8rem;
    letter-spacing: .2rem;
    font-weight: 350;
}
/* Card */
.wrapper{
    max-width: 1090px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.wrapper .table{
    background: #fff;
    width: calc(33% - 20px);
    padding: 30px 30px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.table .price-section {
    display: flex;
    justify-content: center;
}
.table .price-area {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 2px;
    position: relative;
    top: .9rem;
}
.price-area .inside {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #fff;
    line-height: 117px;
    text-align: center;
    color: #fff;
    position: relative;
}
.price-area .inside .text{
    font-size: 25px;
    font-weight: 400;
    position: absolute;
    top: -10px;
    left: 17px;
}
.price-area .inside .price{
    font-size: 45px;
    font-weight: 500;
    margin-left: 16px;
}

.features {
    position: relative;
    top: 7px;
}

.table .package-name{
    width: 100%;
    height: 2px;
    margin: 35px 0;
    position: relative;
}
.table .package-name::before{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
    font-weight: 500;
    background: #fff;
    padding: 0 15px;
    transform: translate(-50%, -50%);
}
.table .features li{
    margin-bottom: 15px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.features li .list-name{
    font-size: 17px;
    font-weight: 400;
}
.features li .icon{
    font-size: 15px;
}
.features li .icon.check{
    color: #2db94d;
}
.features li .icon.cross{
    color: #cd3241;
}
.table .btn{
    width: 100%;
    display: flex;
    margin-top: 35px;
    justify-content: center;
    position: relative;
    top: 1rem;
}
.table .btn button{
    width: 80%;
    height: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.table .btn button:hover{
    border-radius: 5px;
}
.new .features li::selection{
    background: rgb(0, 89, 153);
}
.new ::selection,
.new .price-area,
.new .inside{
    background: rgb(0, 89, 153);
}
.new .btn button{
    border: 2px solid rgb(0, 89, 153);
    background: rgb(0, 89, 153);
    color: #fff;
}
.new .btn button:hover{
    background: rgb(0, 89, 153);
    color: #fff;
}
.maintenance ::selection,
.maintenance .price-area,
.maintenance .inside,
.maintenance .btn button{
    background: rgb(104, 16, 244);
}
.maintenance .btn button:hover{
    background: rgb(104, 16, 244);
}

.new .package-name{
    background: rgb(0, 89, 153);
}
.maintenance .package-name{
    background: #d0b3ff;
}
.new .package-name::before{
    content: "New Site";
}
.maintenance .package-name::before{
    content: "Maintenance";
    font-size: 24px;
}
@media (max-width: 1020px) {
    .wrapper .table{
        width: calc(50% - 20px);
        margin-bottom: 40px;
    }
}
@media (max-width: 698px) {
    .wrapper .table{
        width: 100%;
    }
}
::selection{
    color: #fff;
}
.table .ribbon{
    width: 150px;
    height: 150px;
    position: absolute;
    top: -10px;
    left: -10px;
    overflow: hidden;
}
.table .ribbon::before,
.table .ribbon::after{
    position: absolute;
    content: "";
    z-index: -1;
    display: block;
    border: 7px solid #000;
    border-top-color: transparent;
    border-left-color: transparent;
}
.table .ribbon::before{
    top: 0px;
    right: 15px;
}
.table .ribbon::after{
    bottom: 15px;
    left: 0px;
}
.table .ribbon span {
    position: absolute;
    top: 30px;
    right: 0;
    transform: rotate(-45deg);
    width: 200px;
    background: rgb(0, 89, 153);
    padding: 10px 0;
    color: #fff;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

.table .ribbon_maintenance span {
    background: rgb(104, 16, 244);
}

/* End Card*/

.row {
justify-content: center !important;
}

.row-content1 {
    border-bottom: 1px ridge;
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    min-height: 400px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    min-height: 400px;
}

.my-4 {
    color: #fff;
    border-bottom: solid white;
}

/*!* Form *!*/
.container-h1, .container-form {
    position: relative;
}

form {
    background: #fff;
    box-shadow: 0 3rem 6rem 0 rgba(90, 116, 148, 0.4);
    border-radius: 5px;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 5px solid #fff;
    /*animation: bounce 1s infinite;*/
}

.secondaryTitle {
    color: rgb(16, 101, 61);
    text-align: center;
    font-size: 2rem;
}

form label {
    color: rgb(16, 101, 61);
    font-size: 2.5rem;
}

form input {
    font-size: 1.5rem !important;
    box-shadow: 1px 1px 2px #000;
}

form .form-text {
    font-size: 1.2rem;
}

select.form-select {
    font-size: 1.5rem !important;
    box-shadow: 1px 1px 2px #000;
    color: #636c72;
}




/*input, select, textarea {*/
/*    background-color: #8c8b8b!important;*/
/*}*/

button.btn.btn-success {
    font-size: 2rem !important;
    border-radius: 6.25em;
}

.btn-success:hover {
    transform: translateY(-3px);
    border-top: 5px solid #198754;
    background: white;
    color: #198754;
}


textarea {
    font-size: 1.5rem !important;
    box-shadow: 1px 1px 2px #000;
    background-color: #F5F5F5;
}

.formEntry {
    display: block;
    margin: 5px auto;
    padding: 1rem;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
}

.name {
    background-color: #fff;
}
.name:hover {
    border-bottom: 5px solid  rgb(16, 101, 61);
    height: 3.5em;
    transition: ease 0.5s;
}

.email {
    background-color: #fff;
}

.email:hover {
    border-bottom: 5px solid  rgb(16, 101, 61);
    height: 3.5em;
    transition: ease 0.5s;
}

.select {
    background-color: #fff;
}

.message {
    /*background-color: #fff;*/
    overflow: hidden;
    height: 10rem;
}

.message:hover {
    border-bottom: 5px solid rgb(16, 101, 61);
    height: 12.5rem;
    transition: ease 0.5s;
}

/*!*!* End Form *!*!*/

/* ==== SIMPLE FOOTER ==== */
footer {
    /*padding: 4rem 0 2rem;*/
    font-size: 1.2rem;
    line-height: 5rem;
    background-color: #fff;
}

footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
}

footer hr.small {
    margin: 2rem 0;
}

.copyright-text, .copyright-text a {
    margin: 0;
    color: rgb(16, 101, 61);
}

.copyright-text a:hover {
    color: rgb(16, 101, 61);
}

.foot-links {
    padding-left: 0;
    list-style: none;
}

.foot-links li {
    display: inline;
}

.foot-links {
    text-align: right;
}

.foot-links a {
    line-height: 4rem;
    margin-left: 6px;
    margin-right: 0;
    color: rgb(16, 101, 61);

}

.foot-links a:hover {
    color: rgb(16, 101, 61);
}

@media only screen and (max-width: 991px) {
    .copyright ul {
        text-align: center;
    }
}

@media only screen and (max-width: 577px) {
    .copyright-text, .foot-links  {
        text-align: center !important;
    }
}